#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        rot_msc: rot_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <35>;
        };

        rot_mmv: rot_mmv {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
            tap-ms = <35>;
        };

        rot_kp: rot_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    &msc {
        time-to-max-speed-ms = <0>;
    };

    &mmv {
        time-to-max-speed-ms = <0>;
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &kp TAB              &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC
                &mt LSHFT GRAVE      &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &mt RSHFT SQT
                &kp LGUI             &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &kp RGUI
                &mt LCTRL ESC        &mt LALT LC(LALT)               &mo 1                           &kp SPACE       &kp RET                         &mo 2                           &mt RALT RC(RALT)                &mt RCTRL DEL
            >;

            sensor-bindings = <
                &rot_msc SCRL_UP SCRL_DOWN
                &rot_msc SCRL_RIGHT SCRL_LEFT
            >;
        };

        lower_layer {
            bindings = <
                &trans  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6           &kp N7        &kp N8        &kp N9        &kp N0         &studio_unlock
                &trans  &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &kp CARET        &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR       &trans
                &trans  &trans        &trans        &trans        &trans        &trans        &out OUT_TOG     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4
                &bt BT_PRV            &bt BT_NXT                    &trans                      &trans           &trans                      &trans                      &trans
            >;

            sensor-bindings = <
                &rot_mmv MOVE_RIGHT MOVE_LEFT
                &rot_mmv MOVE_UP MOVE_DOWN
            >;
        };

        upper_layer {
            bindings = <
                &trans &kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6         &kp F7         &kp F8         &kp F9         &kp F10        &kp DEL
                &trans &kp LPAR       &kp RPAR       &kp LBKT       &kp RBKT       &kp PIPE       &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp BSLH       &trans
                &trans &kp MINUS      &kp PLUS       &kp UNDER      &kp EQUAL      &kp TILDE      &kp HOME       &kp PG_DN      &kp PG_UP      &kp END        &kp GRAVE      &trans
                &trans                 &kp ESC                       &trans                       &trans          &trans                       &trans                       &trans
            >;

            sensor-bindings = <
                &rot_kp C_VOL_UP C_VOL_DN
                &none
            >;
        };

        mouse_layer {
            bindings = <
                &trans  &mkp MB1      &mkp MB2      &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
                &trans  &trans        &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
                &trans  &trans        &trans        &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
                &trans                 &trans                       &trans                       &to 0          &to 0                         &trans                       &trans
            >;
        };
    };
};
